/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		/* Required by FactoryDataProvider to access internal flash */
		zephyr,flash-controller = &rram_controller;
	};

	zephyr,user {
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
			<&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>;
		rfsw-ctl-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
	};

	leds {
		/* Add led1 alias pointing to the same onboard LED (P2.0)
		 * so the Matter DK board module can init both LED1 and LED2. */
		led1: led_1 {
			gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
		};
	};

	aliases {
		/* Use watchdog wdt31 as the application watchdog */
		watchdog0 = &wdt31;
		/* Configure PWM module for led1 (onboard LED on P2.0) */
		pwm-led1 = &pwm_led1;
		led1 = &led1;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led1: pwm_led_1 {
			pwms = <&pwm20 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};
};



&wdt31 {
	status = "okay";
};

&temp {
	status = "okay";
};

&pdm20 {
	status = "disabled";
};

&pwm20 {
	status = "okay";
	pinctrl-0 = <&pwm20_default>;
	pinctrl-1 = <&pwm20_sleep>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	pwm20_default: pwm20_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 2, 0)>;
		};
	};
	pwm20_sleep: pwm20_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 2, 0)>;
			low-power-enable;
		};
	};
};

/* SHT41 temperature/humidity sensor on D4 (SDA) and D5 (SCL) = i2c22 */
&i2c22 {
	sht41: sht4x@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>; /* high repeatability, 8.2 ms measurement time */
	};
};

/* restore full RRAM and SRAM space - by default some parts are dedicated to FLRP */
&cpuapp_rram {
	reg = <0x0 DT_SIZE_K(1524)>;
};

&cpuapp_sram {
	reg = <0x20000000 DT_SIZE_K(256)>;
	ranges = <0x0 0x20000000 0x40000>;
};
